/* All Pages */

div.skip_div {
    display: grid;
    grid-template-columns: 1fr;
}

a.skip{
    background: black;
    justify-self: center;
    padding: 6px;
    position: absolute;
    top: -80px;
    border-radius: 5px;
    transition: top .8s ease-in-out; 
    z-index: 1;
  }

a.skip:focus{
    top:20px;
    color: white;
    text-decoration-style: solid;
}

h1 {
    color: white;
    font-size: 7.2vw;
    line-height: 150%;
    padding: 2% 5%;
}

a {
    color: white;
    font-size: 100%;
}

a.current {
    color: yellow;
    font-weight: bolder;
    font-size: 110%;
}


nav{
    text-align: right;
    padding: 2% 2%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.5vw;
    direction:ltr;
}

.small_nav{
    display: grid;
    grid-template-columns: 5% 55% 40%;
}

.big_nav{
    display: none;
}


.big_list{
    display: none;
}

.container {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #f1f1f1;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }
    
    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    .dropdown-content{
      display:none;
    }

.dropdown {
    position: relative;
    display: inline-block;
    direction:rtl;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {background-color: #ddd;}


.dropdown-content .small_current {
    font-weight: bold;
    font-size: 24px;
  }


.small_name{
    align-self: center;
    justify-self: left;
    padding-left: 2%;
}


.small_name a{
    text-decoration: none;
    text-align: center;
    font-size: 200%;
}

.small_eclipse{
    background-image: url("../home_images/eclipse_small_circle.png");
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}



/* Home */

.home {
    background-color: lightcyan;
    background-image: url(../home_images/star1_rot.jpg);
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote {
    font-size: 190%;
    padding: 5% 0%;
    min-height: 90dvh;
    max-height: 100dvh;
    align-content: center;
    justify-content: space-evenly;
}

.not, .who, .are {
    margin: 8% 0;
    display: block;
    text-align: center;
}


.tolk {
    display: block;
    margin: 8% 0%;
    text-align: right;
    font-size: 50%;
    height: 100%;
}

.big_content{
    display: none;
}

.small_content{
    display: grid;
    grid-template-columns: 60% 40%;
    height: fit-content;
    padding: 5%;
    font-size: 120%;
    color: white;
    gap: 2%;
    background-color: rgba(0,0,0,0.5);
    text-align: left;
    align-items: center;
    justify-content: center;
}


.nice_aj {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.nice_aj img {
    max-width: 100%;
    max-height: 95%;
    object-fit: contain;
}

.experience_list{
    padding-left: 5%;
}

.experience_list li{
    padding-left: 3%;
    font-size: 90%;
}

.experience_list li::marker {
content: "\f005";
font-family: FontAwesome;
font-size: var(--icon-size);
color: #275656;
}

.small_content > div:nth-child(3) {
    grid-column: 1 / -1; 
}

.small_content > div:last-child {
    grid-column: 1 / -1; 
}

.more_info {
    text-align: center;
    padding: 5% 0;
}

.page_containers{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: fit-content;
    padding: 5% 5% 10%;
    font-size: 120%;
    color: white;
    gap: 2%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.page_containers div{
    text-align: center;
    line-height: 1.5;
}

.page_containers span{
    background-color: rgba(0,0,0,0.5);
    padding: 2%;
}

.research_icon{
    background-color: black;
}

.research_icon video{
    height: auto;
    width: 100%;
}

.research_icon span{
    position: relative;
    top: 15.4vw;
    z-index: 2;
}

.about_icon {
    background-image: url("../home_images/map.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.projects_icon {
    background-image: url("../home_images/lc.png");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}




@media screen and (min-width: 673px) {

    /* General */

    .small_nav{
        display: none;
    }

    .big_nav{
        display: grid;
        grid-template-columns: 5% 35% 60%;
    }

    .big_list {
        display: block;
        width: 100%;
        padding: 1% 0%;
        align-self: center;
    }

    .big_list li{
        display: inline;
        padding: 0 1%;
        justify-content: center
    }

    .name{
        align-self: center;
        justify-self: left;
    }

    .name a{
        text-decoration: none;
        text-align: center;
        font-size: 150%;
    }

    .eclipse{
        background-image: url("../home_images/eclipse_small_circle.png");
        height: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: center;
    }

    /* Home */

    .quote{
        font-size: 130%;
        padding: 0;
    }

    .not, .who, .are {
        margin: 1vw 0;
        display: block;
        text-align: center;
    }

    .tolk {
        margin: 4% 0%;
    }

    .small_content {
        display: none;
    }

    .big_content{
        display: grid;
        grid-template-columns: 65% 35%;
        height: fit-content;
        padding: 5%;
        font-size: 200%;
        color: white;
        gap: 2%;
        background-color: rgba(0,0,0,0.5);
        text-align: left;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
    }

    .big_content div:last-child{
        grid-column: 1 / -1; 
        padding-bottom: 0;
    }

}

/* 
@media screen and (min-width: 1100px) {

    

}

.main_info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 2%;
        font-size: 120%;
        color: white;
        gap: 5%;
        background-color: rgba(0,0,0,0.5);
        
    }

    .main_info > div:first-child {
    grid-column: 1 / -1; /* Spans from the first column line to the last */
    /* }

    .experience_list{
        padding-left: 10%;
    }

    .experience_list li{
        padding-left: 3%;
        font-size: 90%;
    }

    .experience_list li::marker {
    content: "\f005"; /* FontAwesome Unicode */
    /* font-family: FontAwesome;
    font-size: var(--icon-size);
    color: #275656;
    }

    .nice_aj img {
        max-width: 90%;
        max-height: 95%;
        object-fit: contain;
        align-self: center;
        justify-self: center;
    }

    .main_info div{
        height: auto;
    } 
     */